<% substances = get_substances(allergen,';') %>
<div id="<%= view_type %>" >
  <div id="<%= index_view ? 'index-panel' : 'show-panel' %>">
    <div id="<%= index_view ? 'index-panel-heading' : 'show-panel-heading' %>">
      <div class="panel-title">
        <!-- Split button -->
        <div class="btn-group btn-group-lg ">
          <% if index_view %>
            <button type="button" id="index-panel-button" class="btn  btn-primary"><%= allergen.category %></button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit   ", edit_allergen_path(allergen.category)%></li>
              <li><%= link_to "Show   ", allergen_path(allergen.category)%></li>
              <li><%= link_to "Delete   ", allergen_path(allergen.category), method: :delete, data: { confirm: "Are you sure you want to delete this Allergen?"}%></li>
            </ul>
          <% else %>
            <div id = "search_view">
              <button type="button" id="index-panel-button" class="btn btn-primary"><%= allergen.category %></button>
            </div>
          <% end %>
        </div>
        <!--  -->
      </div>
    </div>
    <div id="<%= index_view ? 'index-panel-body' : 'show-panel-body' %>" >
    <% substances.each do |substance| %>
      <!-- if invoked from index.html display every substance in category -->
      <% if index_view %> 
        <div class="substances text-color-not-ok">
          <%= substance %>
        </div>
      <!-- if invoked from search, display only substances in category that match search -->
      <% elsif substance.upcase.include?(search_item.upcase)%> 
        <div class="substances text-color-not-ok">
          <%= highlight(substance, search_item) %> 
        </div> 
      <% end %>
    <% end %>
    </div>
  </div>
</div>

