<% product_reactions = find_reaction(product) %>
<!-- for debugging... < % debug =1/0 % >  -->
  <tr id="<%= index_view ? '' : 'search_view' %>">

  <% if index_view %>
    <% if product_reactions.empty? %>
      <% search_item = '' %>
    <% else %>
      <% search_item = product_reactions.select(:reactive_ingredient).distinct.pluck(:reactive_ingredient) %> 
    <% end %>
  <% end %>

  <td class="<%= product_reactions.empty? ? 'text-color-ok' : 'text-color-not-ok' %>">
    <%= highlight(product.name, search_item) %>
  </td>
  <td class="<%= product_reactions.empty? ? 'text-color-ok' : 'text-color-not-ok' %>">
    <%= highlight(product.ingredients, search_item) %>
  </td>

  <% if index_view %>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Show', product_path(product) %></td>
    <td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></td>
  <% end %>
</tr>
